<div>
    <div class="expand-container" ng-click="jump('contact')">
        <div class="expand add-expand">
            <h1>Resume</h1>
            <div class="detail">View My Resume</div>
            <div class="icon icon-left fa fa-file-o"></div>
        </div>
    </div>

    <div id="github" class="expand-container" ng-click="jump('contact')">
        <div class="expand add-expand">
            <h1>GitHub</h1>
            <div class="detail">View My GitHub</div>
            <div class="icon icon-left fa fa-file-o"></div>
        </div>
    </div>

    <div class="expand-container" ng-click="jump('contact')">
        <div class="expand add-expand">
            <h1>Contact</h1>
            <div class="detail">Contact Me!</div>
            <div class="icon icon-left fa fa-file-o"></div>
        </div>
    </div>

</div>
