<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="">
        <link rel="stylesheet" href="static/blue.css">
        <link rel="stylesheet" href="static/preloader.css">
        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/font-awesome.css">
    </head>

    <body data-gclp-initialized="true" data-gistbox-initialized="true" ng-app="app">

        <!-- begin .preloader -->
        <div class="preloader" style="display: none;">
            <div class="spinner"></div>
        </div>
        <div class="preloader-left slide-left"></div>
        <div class="preloader-right slide-right"></div>
        <!-- end preloader -->

        <!-- begin #main-container -->
        <div id="main-container" ng-controller="resumeController">
            <!-- begin #profile -->
            <div id="profile" class="profile profile-off">
                <div id="top-profile" class="expand add-expand">
                    <h1>Profile</h1>
                    <img class="small-image icon icon-left fa" ng-src="{{ profile.avatar }}" alt="Mobile Profile Picture">
                </div>
                <div class="main-content-profile">
                    <div class="summary">
                        <img class="big-image" ng-src="{{ profile.avatar }}" alt="Profile Picture">
                        <h2 class="name">{{ profile.name }}</h2>
                        <!-- <a href="">
                            <img class="logo" src="" alt="">
                        </a>
                        -->
                        <div class="occupation morphext">{{ profile.title }}</div>
                    </div>
                    <p class="hi">
                        <span class="dropcap">Hi</span><span class="detail">{{ profile.summary }}</span>
                    </p>
                    <div class="button">
                        <a href="#" class="download">Download CV</a>
                    </div>
                    <div class="social-container">
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-behance"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end #profile -->

            <!-- begin #features -->
            <div id="features">

                <!-- begin #resume -->
                <div id="resume" class="full full-height">
                    <div id="top-resume" class="expand add-expand" style="display: none;">
                        <h1>Resume</h1>
                        <div class="detail">View My Resume</div>
                        <div class="icon icon-left fa fa-file-o"></div>
                    </div>
                    <div class="main-content">
                        <!-- <a href="./index.html" class="close-icon expand" style="display: none;"></a> -->
                        <h1 class="title">My Resume</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="title">Work&Edu Experience</h2>
                                <!-- begin #timeline -->
                                <div id="timeline">
                                    <div class="timeline-item" ng-repeat="data in timeline">
                                        <div class="briefcase fa fa-briefcase"></div>
                                        <div class="job">
                                            <h2 class="job-title" ng-if="data.company">{{ data.company }}<span>- {{ data.title }}</span></h2>
                                            <h2 class="job-title" ng-if="data.school">{{ data.school }}<span>- {{ data.major }}</span></h2>
                                            <h3 class="year"><span>{{ data.startTime }}</span> - <span>{{ data.stopTime || "至今" }}</span></h3>
                                            <div class="job-detail">{{ data.text }}</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end #timeline -->
                            </div>
                            <div class="col-md-5">
                                <!-- begin #skills -->
                                <div id="skills">
                                    <h2 class="title">My skills</h2>
                                    <div class="skill-item" ng-repeat="skill in skillsets">
                                        <h3 class="skill-title">{{ skill.name }}</h3>
                                        <div class="skill-bar-bg" data-percent="{{skill.percent}}">
                                            <div class="skill-bar" ng-style="width: {{ skill.percent }}%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end #skills -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end #resume -->

            </div>
            <!-- end #features -->

        </div>
        <!-- end #main-container -->

        <!-- JavaScript Files -->
        <script src="./static/jquery.min.js"></script>
        <script src="./static/prefixfree.min.js"></script>
        <script src="./static/fastclick.js"></script>
        <script src="./static/jquery.typer.js"></script>
        <script src="./static/masonry.pkgd.min.js"></script>
        <script src="./static/jquery.shuffle.min.js"></script>
        <script src="./static/morphext.min.js"></script>
        <script src="./static/smoothScrolls.js"></script>
        <script src="./static/owl.carousel.min.js"></script>
        <script src="./static/angular.min.js"></script>
        <script src="./static/main.js"></script>
        <script src="./static/model.js"></script>
    </body>
</html>
