.clear{
    clear: both;
}

.project{
    height: 80px;
    width: 750px;
    color: #777;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
}

.content .name{
    font-size: 20px;
    font-weight: bold;
}

.content .desc, .tag .update{
    margin-top: 6px;
}

.content .ref:before {
    content: "√";
}

.icon {
    width: 60px;
    height: 60px;
}

a.name {
 color: ##00f;
}

.tag {
    float: right;
}
