#feature .coderwall-div {
    margin-top: 30px;
    margin-left: 30px;
    padding: 0;
}

.coderwall-root.vertical {
    width: 135px;
}

.coderwall-logo {
    display: none !important;
}

.coderwall-root .coderwall-logo:hover .coderwall-tag-name {
    color: #BED4FA;
}

.coderwall-root .coderwall-badge {
    float: left;
}

.coderwall-root .coderwall-badge:hover {
    opacity: 0.8;
}

.coderwall-root .coderwall-icon {
    float: left;
    width: 15px;
}

.coderwall-root .coderwall-tag-container {
    float: left;
    padding-left: 8px;
    margin-top: -3px;
}

.coderwall-root .coderwall-tag-name {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: black 0 1px 0;
}

.coderwall-root .coderwall-tag-text {
    color: #aaa;
    font-size: 12px;
}
